.progressBar{
    width: 150px;
    // height: fit-content;
    // height: 100px;
    
}

.progressBar .CircularProgressbar-path{
    stroke: #764DBE;
}

.progressbar__image{
    width: 70px;

}
.progressbar{
    height: 0;
    padding: 20px;
}